/* Stying of footer */
footer {
  padding-top: 70px;
  @include max-breakpoints(tablet-small) {
    padding-top: 20px;
  }

  .newsletter {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/footer-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    max-height: 250px;
    min-height: 250px;
    position: relative;
    .container {
      .newsletter-block {
        @include abs-center;
        text-align: center;
        h3 {
          color: $color-13;
          margin-bottom: 20px;
        }

        form {
          @include flex-c;
          @include max-breakpoints(mobile) {
            flex-wrap: wrap;
          }
          .actions-toolbar {
            @include max-breakpoints(mobile) {
              margin-top: 2px;
              width: 100%;
            }
            .actions-tertiary {
              button {
                @extend %tertiary-btn-large;
                @include max-breakpoints(mobile) {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  .footer-main {
    padding-top: 40px;
    @include max-breakpoints(tablet-small) {
      padding-top: 20px;
    }
    .site-logo {
      .logo {
        width: fit-content;
        margin: 0 auto;
        img {
          @include max-breakpoints(tablet-small) {
            width: 105px;
            height: 24px;
          }
        }
      }
    }

    .footer-nav {
      ul {
        @include flex-c-sb;
        padding: 20px 0;
        width: 100%;
        max-width: 410px;
        margin: 0 auto;
        @include max-breakpoints(tablet-small) {
          padding: 10px 0;
        }
        li {
          a {
            color: $color-9;
            transition: all 0.3s ease;
            &:hover,
            &:active,
            &:focus {
              color: $color-8;
              text-shadow: 0px 0px 1px $color-8;
              @include max-breakpoints(tablet-small) {
                text-shadow: unset;
              }
            }
          }
        }
      }
    }
  }

  .copyright {
    text-align: center;
    padding-bottom: 20px;
    @include max-breakpoints(tablet-small) {
      padding-bottom: 10px;
    }
    .caption {
      color: $color-9;
    }
  }
}
