/* Styling of main page */
.page-wrapper {
  .page-main {
    .columns {
      /* Styling of main content-area */
      .column.main {
        .intro-banner-block {
          .row {
            .left-block {
              width: 50%;
              background: $color-1;
              color: $color-11;
              @include max-breakpoints(mobile) {
                width: 100%;
              }

              .sub-container {
                @include spacing-section-50;
                .container-block {
                  display: flex;
                  flex-direction: column;
                  height: 100%;
                  .content-block {
                    margin-bottom: auto;
                    padding-top: 10px;
                    @include max-breakpoints(tablet-small) {
                      padding-top: 5px;
                      margin-bottom: 80px;
                    }
                    h1.title {
                      max-width: 410px;
                      color: $color-3;
                      @include max-breakpoints(tablet) {
                        max-width: 100%;
                      }
                    }
                  }

                  .bottom-block {
                    max-width: 350px;
                    margin-left: auto;
                    text-align: right;
                    color: $color-9;
                  }
                }
              }
            }

            .right-block {
              width: 50%;
              position: relative;
              @include max-breakpoints(mobile) {
                width: 100%;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                max-height: 800px;
                @include max-breakpoints(tablet-small) {
                  max-height: 400px;
                }
              }
              .mention-content {
                position: absolute;
                bottom: 30px;
                left: 30px;
                @include max-breakpoints(tablet-small) {
                  bottom: 10px;
                  left: 10px;
                }
                a {
                  color: $color-9;
                  transition: all 0.3s ease;
                  &:hover,
                  &:active,
                  &:focus {
                    color: $color-8;
                    text-shadow: 0px 0px 1px $color-8;
                  }
                }
              }
            }
          }
        }

        /* Sub container stlying */
        .sub-container {
          width: 100%;
          max-width: 635px;
          height: 100%;
          padding-right: 100px;
          padding-left: 15px;
          margin-left: auto;
          @include max-breakpoints(tablet) {
            padding-right: 15px;
          }
          @include max-breakpoints(tablet-small) {
            padding-right: 10px;
            padding-left: 10px;
          }
        }

        /* Common block styling */
        .top-block {
          width: 100%;
          max-width: 600px;
          margin: 0 auto;
          text-align: center;
          padding-bottom: 50px;
          @include max-breakpoints(tablet-small) {
            padding-bottom: 20px;
          }

          h3.title {
            color: $color-1;
            &::after {
              margin-left: auto;
              margin-right: auto;
            }
          }
        }

        .secrets-block {
          @include spacing-section-70;
          .container {
            .top-block {
              .content {
                color: $color-9;
              }
            }

            .list-block {
              .list-items {
                display: flex;
                flex-wrap: wrap;
                margin-top: -5px;
                margin-left: -5px;
                @include max-breakpoints(mobile) {
                  margin-left: 0;
                }
                .list-item {
                  width: 33.33%;
                  padding-top: 5px;
                  padding-left: 5px;
                  @include max-breakpoints(mobile) {
                    width: 100%;
                    padding-left: 0;
                  }

                  .item-info {
                    position: relative;
                    .item-photo {
                      .image-photo {
                        background: linear-gradient(
                          180deg,
                          rgba(0, 0, 0, 0) 34.9%,
                          #000000 100%
                        );
                        width: 100%;
                        @include max-breakpoints(mobile) {
                          max-height: 400px;
                          object-fit: cover;
                        }
                      }
                    }

                    .item-details {
                      color: $color-12;
                      position: absolute;
                      bottom: 40px;
                      padding: 0 30px;
                      @include max-breakpoints(tablet) {
                        bottom: 20px;
                        padding: 0 10px;
                      }

                      @include max-breakpoints(mobile) {
                        padding: 0 20px;
                      }

                      .item-description {
                        margin-bottom: 20px;
                        @include max-breakpoints(tablet) {
                          margin-bottom: 10px;
                        }

                        h3.title {
                          padding-top: 10px;
                          @include max-breakpoints(tablet) {
                            padding-top: 5px;
                          }
                          &::after {
                            display: none;
                          }
                        }
                      }

                      .actions-toolbar {
                        .actions-secondary {
                          a {
                            @extend %secondary-btn-medium;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .get-block {
          background: $color-3;
          @include spacing-section-70;
          .container {
            .top-block {
              .content {
                color: $color-8;
              }
            }

            .row {
              img {
                width: 100%;
              }

              .left-block {
                width: 50%;
                @include max-breakpoints(mobile) {
                  width: 100%;
                }
              }
              .right-block {
                width: 50%;
                @include max-breakpoints(mobile) {
                  width: 100%;
                }
                ul {
                  display: flex;
                  flex-wrap: wrap;
                  li {
                    width: 50%;
                    &:last-child {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }

        .explore-block {
          background-image: url(../images/explore-banner.png);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          height: 100%;
          max-height: 700px;
          .row {
            .left-block {
              width: 50%;
              height: 100%;
              background: $color-15;
              min-height: 700px;
              max-height: 700px;
              position: relative;
              @include max-breakpoints(notebook) {
                min-height: 500px;
              }

              @include max-breakpoints(tablet) {
                min-height: 400px;
              }

              @include max-breakpoints(mobile) {
                width: 100%;
                min-height: 175px;
                background: $color-6;
              }

              .content-block {
                position: absolute;
                right: 0;
                color: $color-13;
                padding-right: 320px;
                padding-left: 15px;
                width: 100%;
                max-width: 635px;
                top: 50%;
                transform: translate(0, -50%);

                @include max-breakpoints(notebook) {
                  padding-right: 280px;
                }

                @include max-breakpoints(tablet) {
                  padding-right: 180px;
                }

                @include max-breakpoints(tablet-small) {
                  padding-left: 10px;
                  padding-right: 100px;
                }

                @include max-breakpoints(mobile) {
                  padding-right: 10px;
                  max-width: 100%;
                }

                .title {
                  color: $color-4;
                  padding-top: 10px;
                }

                .actions-toolbar {
                  margin-top: 30px;
                  @include max-breakpoints(tablet-small) {
                    margin-top: 15px;
                  }
                  .actions-secondary {
                    a {
                      @extend %secondary-btn-large;
                    }
                  }
                }
              }
            }

            .right-block {
              width: 50%;

              @include max-breakpoints(mobile) {
                width: 100%;
                min-height: 160px;
              }
              a {
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        .order-block {
          .row {
            .left-block {
              width: 50%;
              background: $color-13;
              position: relative;
              @include max-breakpoints(mobile) {
                width: 100%;
              }

              .sub-container {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(0, -50%);
                height: auto;
                @include max-breakpoints(mobile) {
                  position: unset;
                  transform: unset;
                  padding-top: 20px;
                  padding-bottom: 20px;
                }

                .sub-heading {
                  color: $color-4;
                  padding-bottom: 10px;
                  @include max-breakpoints(tablet-small) {
                    padding-bottom: 5px;
                  }
                }

                .title {
                  color: $color-1;
                }

                p {
                  color: $color-9;
                }

                .actions-toolbar {
                  margin-top: 30px;
                  @include max-breakpoints(tablet-small) {
                    margin-top: 15px;
                  }
                  .actions-primary {
                    a {
                      @extend %primary-btn-large;
                    }
                  }
                }
              }
            }

            .right-block {
              width: 50%;
              @include max-breakpoints(mobile) {
                width: 100%;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                max-height: 620px;
                @include max-breakpoints(tablet) {
                  min-height: 400px;
                }

                @include max-breakpoints(tablet-small) {
                  max-height: 400px;
                }

                @include max-breakpoints(mobile) {
                  min-height: unset;
                }
              }
            }
          }
        }

        .visit-block {
          background-image: linear-gradient(
              270deg,
              rgba(0, 0, 0, 0.7) 44.67%,
              rgba(0, 0, 0, 0) 96.89%
            ),
            url(../images/visit-banner.png);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          height: 550px;
          @include max-breakpoints(tablet-small) {
            height: 400px;
          }
          .container {
            position: relative;
            height: 100%;
            .content-details {
              position: absolute;
              width: 100%;
              max-width: 480px;
              padding: 0 15px;
              right: 0;
              top: 50%;
              transform: translate(0, -50%);
              @include max-breakpoints(tablet-small) {
                padding: 0 10px;
              }
              .title {
                color: $color-4;
                padding-bottom: 10px;
                @include max-breakpoints(tablet-small) {
                  padding-bottom: 5px;
                }
                &::after {
                  display: none;
                }
              }

              p {
                color: $color-12;
              }

              .actions-toolbar {
                margin-top: 30px;
                @include max-breakpoints(tablet-small) {
                  margin-top: 15px;
                }
                .actions-secondary {
                  a {
                    @extend %secondary-btn-large;
                  }
                }
              }
            }
          }
        }

        .top-rated-block {
          @include spacing-section-70;
          .container {
            .top-block {
              max-width: 500px;
              .sub-heading {
                color: $color-4;
                padding-bottom: 10px;
                @include max-breakpoints(tablet-small) {
                  padding-bottom: 5px;
                }
              }
              .title {
                color: $color-1;
              }
            }

            .top-list {
              .top-items {
                max-width: 1040px;
                margin: 0 auto;
                .top-item {
                  .item-info {
                    .top-item-details {
                      background: $color-13;
                      padding: 20px 10px 0;
                      text-align: center;
                      @include max-breakpoints(tablet-small) {
                        padding: 10px 10px 0;
                      }

                      .top-item-description {
                        .top-item-price {
                          color: $color-8;
                          padding-top: 10px;
                          @include max-breakpoints(tablet-small) {
                            padding-top: 5px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .reviews-block {
          .container {
            .reviews {
              .reviews-items {
                display: flex;
                flex-wrap: wrap;
                margin-left: -35px;
                margin-top: -5px;
                @include max-breakpoints(notebook) {
                  margin-left: -20px;
                }

                @include max-breakpoints(tablet) {
                  margin-left: -5px;
                }

                @include max-breakpoints(mobile) {
                  margin-left: 0;
                }

                .reviews-item {
                  width: 33.33%;
                  padding-left: 35px;
                  padding-top: 5px;
                  @include max-breakpoints(notebook) {
                    padding-left: 20px;
                  }

                  @include max-breakpoints(tablet) {
                    width: 50%;
                    padding-left: 5px;
                  }

                  @include max-breakpoints(mobile) {
                    width: 100%;
                    padding-left: 0;
                  }
                  .item-info {
                    background: $color-2;
                    padding: 20px;
                    @include max-breakpoints(tablet-small) {
                      padding: 10px;
                    }
                    .item-details {
                      .title {
                        color: $color-4;
                        padding-bottom: 10px;
                        @include max-breakpoints(tablet-small) {
                          padding-bottom: 5px;
                        }
                      }
                      p {
                        color: $color-11;
                        padding-bottom: 20px;
                        @include max-breakpoints(tablet-small) {
                          padding-bottom: 10px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
